.img-jmbo {
  background-image: url('https://thumbs.dreamstime.com/b/row-old-books-one-open-background-web-banner-free-copy-space-reading-education-literature-book-fair-concept-row-old-books-170933211.jpg');
  background-size: 100% 100%;
  min-height: 500px;
}
.container1 {
  position: relative;
  text-align: center;
}
.navbar-custom {
    background-color: #eee1c1


}